Button {
    padding: 2.5rem 5rem;
    font-size: 2em;
    border-radius: 1.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 01.5rem) 0 0 60px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    z-index: 100;
}