.BoardCell {
    width: auto;
    border-radius: 6px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.029);
}


.tetromino {
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);

}

.tetromino .Sparkle {
    position: absolute;
    z-index: 10;
    width: 6px;
    height: 6px;
    left: -2px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.328);
    border-radius: 4px 4px;
}

.tetromino.ghost {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.214);
}

.tetromino.ghost .Sparkle {
    opacity: 0;
}

.tetromino__i {
    background-color: rgb(255, 113, 113);
}

.tetromino__j {
    background-color: rgb(143, 63, 255);
}

.tetromino__l {
    background-color: rgb(223, 214, 36);
}


.tetromino__o {
    background-color: rgb(255, 185, 93);
}

.tetromino__t {
    background-color: rgb(251, 82, 195);
}

.tetromino__s {
    background-color: rgb(38, 215, 255);
}

.tetromino__z {
    background-color: rgb(80, 231, 38);
}