* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #fff;
  background-color: rgb(43, 83, 184);
  /* background: linear-gradient(27deg, #1a9fcb 50%, #147fb8 0%); */
  height: 100vh;
  padding: 20px;
  /* overflow: hidden; */
}